<section class="hero animation bg-set" id="hero" data-bg="dark">
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <div class="container">
            <div class="row hero__content_row">
                <div class="col-xs-12 col-md-7">
                    <div class="hero__content_left">
                        <h6 class="section__subtitle fadeInRight" data-delay="0">{{'main.subtitle' | translate }}</h6>
                        <h2 class="section__title desktop fadeInRight" data-delay="0.1">{{'main.title' | translate }}</h2>
                        <h2 class="section__title mobile fadeInRight" data-delay="0.1">{{'main.title' | translate }}</h2>
                        <div class="fadeInRight" data-delay="0.2">
                            <p class="fadeInRight" data-delay="0.2">{{'main.m_title' | translate }}</p>
                        </div>
                        <img src="{{'main.src' | translate }}" alt="" class="mobile__img fadeInRight" data-delay="0.3">
                        <div class="download__buttons fadeInRight" data-delay="0.5">
                            <span class="download__buttons_text">{{'navbar.f_download' | translate }}</span>
                            <ul class="download__buttons_list">
                                <li>
                                    <a href="#" class="appstore__link">
                                        <img src="{{'wedo.download.src1' | translate }}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="googleplay__link">
                                        <img src="{{'wedo.download.src2' | translate }}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="hero__content_right fadeInLeft" data-delay="0">
                        <img src="{{'main.src' | translate }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>