<section class="features features-1 bg-set" data-bg="dark">
    <div class="features__content">
        <div class="container">
            <div class="row animation" id="features-1">
                <div class="col-xs-12 fadeInUp" data-delay="0">
                    <div class="features__title_box dark">
                        <span class="position">01</span>
                        <h6 class="subtitle">{{ 'navbar.feature'| translate }}</h6>
                        <h2 class="title">{{'feature.f1_title' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="row animation">
                <div class="col-xs-12">
                    <div class="image__box">
                        <div class="image__box_inner">
                            <div class="left">
                                <div class="in">
                                    <img src="{{'feature.f1_an_img.src1' | translate }}" alt="" class="img fadeInUp" data-delay="0.3">
                                </div>
                            </div>
                            <div class="center">
                                <div class="in graph">
                                    <img src="../assets/img/feature/feature1/graph.png" alt="" class="img fadeInUp" data-delay="0.4">
                                </div>
                                <div class="in">
                                    <img src="{{'feature.f1_an_img.src2' | translate }}" alt="" class="img fadeInUp" data-delay="0.4">
                                </div>
                            </div>
                            <div class="right">
                                <div class="in">
                                    <img src="{{'feature.f1_an_img.src3' | translate }}" alt="" class="img fadeInUp" data-delay="0.6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row animation">
                <div class="col-xs-12 fadeInUp" data-delay="0">
                    <div class="content__slider features__slider">
                        <div class="swiper-wrapper">
                            <div *ngFor="let slide of ('feature.f1_slide' | translate)"class="swiper-slide">
                                <div class="content__box dark features__item">
                                    <div class="features__item_top">
                                        <div class="features__item_icon">
                                            <img [src]="slide.src" alt="">
                                        </div>
                                        <h5 class="title">{{ slide.slide_h_title }}</h5>
                                    </div>
                                    <div class="features__item_description">
                                        <p>{{ slide.slide_c_title }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__slider_pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>