<section class="features features-2 bg-set" id="features-2" data-bg="dark">
    <div class="features__content">
        <div class="container">
            <div class="row animation">
                <div class="col-xs-12 fadeInUp" data-delay="0">
                    <div class="features__title_box dark">
                        <span class="position">02</span>
                        <h6 class="subtitle">{{ 'navbar.feature'| translate }}</h6>
                        <h2 class="title">{{ 'feature.feature2.f2_title' | translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="row animation price-row">
                <div class="col-xs-12 fadeInUp" data-delay="0">
                    <div class="prices__box">
                        <div class="prices__box_inner">
                            <div class="left" data-from="50" data-to="-50">
                                <div class="price__item up">
                                    <div class="price__item_left">
                                        <div class="price__item_left_inner">
                                            <img src="../assets/img/shared/arrow-up-circle.svg">
                                            <span class="title">MRB</span>
                                            <span class="price">19</span>
                                        </div>
                                    </div>
                                    <div class="price__item_right">
                                        <div class="price__item_right_inner">
                                            <h5 class="title">{{ 'feature.feature2.slide_h_title1' | translate }}</h5>
                                            <p>{{ 'feature.feature2.slide_c_title1' | translate }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center" data-from="50" data-to="-250">
                                <div class="price__item down">
                                    <div class="price__item_left">
                                        <div class="price__item_left_inner">
                                            <img src="../assets/img/shared/arrow-down-circle.svg">
                                            <span class="title">TGA</span>
                                            <span class="price">4.75</span>
                                        </div>
                                    </div>
                                    <div class="price__item_right">
                                        <div class="price__item_right_inner">
                                            <h5 class="title">{{ 'feature.feature2.slide_h_title2' | translate }}</h5>
                                            <p>{{ 'feature.feature2.slide_c_title2' | translate }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right" data-from="150" data-to="-350">
                                <div class="price__item up">
                                    <div class="price__item_left">
                                        <div class="price__item_left_inner">
                                            <img src="../assets/img/shared/arrow-up-circle.svg">
                                            <span class="title">MRN</span>
                                            <span class="price">21</span>
                                        </div>
                                    </div>
                                    <div class="price__item_right">
                                        <div class="price__item_right_inner">
                                            <h5 class="title">{{ 'feature.feature2.slide_h_title3' | translate }}</h5>
                                            <p>{{ 'feature.feature2.slide_c_title3' | translate }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animation chart-row">
                <div class="col-xs-12">
                    <div class="chart__box">
                        <div class="chart__box_inner">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 395" style="enable-background:new 0 0 1440 395;" xml:space="preserve">
                                <line class="st4 chart-grid-line" x1="5" y1="0.5" x2="1436" y2="0.5"/>
                                <line class="st3 chart-grid-line" x1="5" y1="60.5" x2="1436" y2="60.5"/>
                                <line class="st2 chart-grid-line" x1="5" y1="120.5" x2="1436" y2="120.5"/>
                                <line class="st1 chart-grid-line" x1="5" y1="180.5" x2="1436" y2="180.5"/>
                                <line class="st0 chart-grid-line" x1="5" y1="240.5" x2="1436" y2="240.5"/>
                                <line class="st0 chart-grid-line" x1="5" y1="300.5" x2="1436" y2="300.5"/>
                                <line class="st0 chart-grid-line" x1="5" y1="360.5" x2="1436" y2="360.5"/>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="726.95" y1="691.2416" x2="726.95" y2="1022.5" gradientTransform="matrix(1 0 0 1 0 -628)">
                                <stop  offset="0" style="stop-color:#68DACB"/>
                                <stop  offset="1" style="stop-color:#49546A;stop-opacity:0"/>
                                </linearGradient>
                                <path class="st5 chart-shadow" d="M37.1,292.8l-60.5,74.8c-2.4,2.9-3.7,6.6-3.7,10.4c0,9.1,7.4,16.5,16.5,16.5H1481l-208.8-237.9
                                c-52.4-59.7-144-63.9-201.7-9.2L936.3,275c-40.9,38.9-101.2,49.4-152.8,26.6L567,206.3c-38.9-17.1-83.6-15.6-121.3,4.1l-96.2,50.3
                                C310.7,281,264.6,282,225,263.3l-19.4-9.1C147.2,226.7,77.7,242.7,37.1,292.8z"/>
                                <path class="st6 chart-line" d="M-26.1,369.6c18.6-23.1,40.9-50.8,61.9-76.8c40.8-50.6,111-66.5,169.6-38.4l17.1,8.2
                                c39.8,19.1,86.3,18.3,125.4-2.1l97.6-51c37.8-19.8,82.6-21.2,121.6-3.9l217,96.3c52,23.1,112.7,12.4,153.7-27l131.8-126.5
                                c57.9-55.6,150.5-51.2,202.9,9.6l182.6,211.7"/>
                                <g class="chart-dot">
                                <circle class="st7" cx="-25" cy="369" r="8"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row animation">
                <div class="col-xs-12 fadeInUp" data-delay="0">
                    <div class="content__slider features__slider">
                        <div class="swiper-wrapper">

                            <div *ngFor="let slide of ('feature.feature2.f2_slide' | translate )" class="swiper-slide">
                                <div class="content__box dark features__item">
                                    <div class="features__item_top">
                                        <div class="features__item_icon">
                                            <img [src]="slide.src" alt="">
                                        </div>
                                        <h5 class="title">{{ slide.slide_h_title }}</h5>
                                    </div>

                                    <div class="features__item_description">
                                        <p>{{ slide.slide_c_title }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__slider_pagination"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>