<div class="row">
    <div class="col-xs-12">
        <div class="download__box">
            <div class="download__box_text">
                <h3 class="download__box_title">{{ 'wedo.sec.d_box_txt' | translate }}</h3>
            </div>
            <div class="download__box_actions">
                <div class="download__buttons">
                    <span class="download__buttons_text">{{ 'wedo.sec.d_box_txt' | translate }}</span>
                    <ul class="download__buttons_list">
                        <li>
                            <a href="#" class="appstore__link">
                                <img src="{{'wedo.download.src1' | translate }}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="googleplay__link">
                                <img src="{{'wedo.download.src2' | translate }}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
